body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* MOBILE */

header {
    min-width: 320px;
    background-image: url(../image/Vector\ Smart\ Object.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 540px;
    padding-top: 20px;
    margin-bottom: 78px;
    position: relative;
}
.chiping {
    position: relative;
    z-index: 2;
}
header::after {
    content: "";
    position: absolute;
    top: 0;
    background-color: rgba(26, 25, 21, 0.15);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.container {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}
.autorization {
    text-align: center;
    margin-bottom: 118px;
}
.login {
    margin-right: 19px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.signup {
    height: 36px;
    width: 90px;
    border: 2px solid rgb(255, 255, 255);;
    background-color: transparent;
    border-radius: 18px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.logo {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.title {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.signature-title {
    margin: 0 auto;
    width: 218px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 17px;
}
.find-partner {
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    width: 280px;
    height: 42px;
    padding: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* MAIN MOBILE */

.layer-card {
    width: 220px;
    margin: 0 auto;
}
.layer {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}
.layer::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv::before {
    content: url(../image/TV.png);
    background-color: rgb(255, 78, 80);
}
.flask::before {
    content: url(../image/flask.png);
    background-color: rgb(255, 165, 7);
}
.coffee::before {
    content: url(../image/coffee.png);
    background-color: rgb(28, 215, 173);
}
.telegram::before {
    content: url(../image/telegram.png);
    background-color: rgb(78, 115, 219);
}
h3 {
    font-size: 22px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
h4 {
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.description {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(102, 102, 102);
}
.other-partner {
    border: 2px solid rgb(255, 78, 80);
    border-radius: 20px;
    background-color: transparent;
    width: 280px;
    height: 40px;
    font-size: 14px;
    color: rgb(255, 78, 80);
    font-weight: bold;
    margin-bottom: 57px;
}

/* TABLET VERSION */
  
@media (min-width: 768px) {
    header {
        min-width: 768px;
        min-height: 700px;
        padding-top: 38px;
        margin-bottom: 69px;
    }
    .container {
        width: 748px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .autorization {
        margin-bottom: 0;
        margin-right: 40px;
    }
    .header-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 147px;
    }
    .logo {
        margin-left: 40px;
    }

    .title {
        font-size: 52px;
        width: 520px;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .signature-title {
        width: 410px;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .find-partner {
        width: 230px;
    }
    
    /* MAIN TABLET */
    
    .layer-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 492px;
        margin: 0 auto;
        margin-bottom: 37px;
    }
    .layer-card:first-child {
        order: 1;
    }
    .layer-card:nth-child(2) {
        order: 3;
    }
    .layer-card:nth-child(3) {
        order: 2;
    }
    .layer-card:nth-child(4) {
        order: 4;
    }
    .tv {
        order: 1;
    }
    .flask {
        order: 3;
    }
    .coffee {
        order: 2;
    }
    .telegram {
        order: 4;
    }
    .layer-card {
        width: 50%;
    }
    .description {
        width: 236px;
        margin: 0 auto;
    }
    .layer-card:not(:nth-last-child(-n+2)) {
        margin-bottom: 57px;
    }
    .other-partner {
        width: 190px;
        color: rgb(255, 78, 80);
        font-weight: bold;
        margin-bottom: 40px;
    }
}

/* DESKTOP VERSION */

@media (min-width: 940px) {
    header {
        min-width: 940px;
    }
    .container {
        width: 940px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .autorization {
        margin-bottom: 0;
        margin-right: 0px;
    }
    .logo {
        margin-left: 0px;
    }
    /* MAIN TABLET */
    h3 {
        margin-bottom: 30px;
    }
    .layer-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 37px;
    }
    .layer-card {
        width: 220px;
    }
    .description {
        width: 236px;
        margin: 0 auto;
    }
    .layer-card:not(:nth-last-child(-n+2)) {
        margin-bottom: 0px;
    }
    .other-partner {
        width: 190px;
        color: rgb(255, 78, 80);
        font-weight: bold;
        margin-bottom: 73px;
    }
}