@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/montserrat-v14-latin-700.woff') format('woff');
    src: url('../fonts/Montserrat/montserrat-v14-latin-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/montserrat-v14-latin-regular.woff') format('woff');
    src: url('../fonts/Montserrat/montserrat-v14-latin-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "RobotoSlab";
    src: url('../fonts/RobotoSlab/roboto-slab-v11-latin-regular.woff') format('woff');
    src: url('../fonts/RobotoSlab/roboto-slab-v11-latin-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Cookie";
    src: url('../fonts/Cookie/cookie-v11-latin-regular.woff') format('woff');
    src: url('../fonts/Cookie/cookie-v11-latin-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Alegreya SC";
    src: url('../fonts/AlegreyaSC/alegreya-sc-v11-latin-regular.woff') format('woff');
    src: url('../fonts/AlegreyaSC/alegreya-sc-v11-latin-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Alegreya SC";
    src: url('../fonts/AlegreyaSC/alegreya-sc-v11-latin-italic.woff') format('woff');
    src: url('../fonts/AlegreyaSC/alegreya-sc-v11-latin-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}