html {
    min-width: 1201px;
}
.header {
    background-image: url(../../image/Header_image/Layer\ 15.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient( 0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    opacity: 0.9;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header {
        background-image: url(../../image/Header_image/Layer\ 15@2x.jpg);
    }
}
.head {
    position: relative;
    z-index: 1;
}
.container {
    width: 1201px;
    margin: 0 auto;
}
.list {
  padding-left: 0;
  margin: 0;  
}
.item {
    list-style-type: none;
}