body {
    margin: 0 auto;
    width: 1920px;
}
* {
    box-sizing: border-box;
}
.container {
    width: 1201px;
    margin: 0 auto;
}
.logo {
    height: 23px;
    width: 86px;
}
h1 {
    display: none;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 130px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    width: 481px;
    padding-left: 0;
}
.nav-list a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    color: #95e1d3;
    transition-property: border-bottom, color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.nav-list a:hover,
.nav-list a:focus {
    transition-property: border-bottom, color;
    transition-duration: 200ms;
    transition-timing-function: linear;
    padding-bottom: 11px;
    border-bottom: 4px solid #f38181;
    color: #f38181;
}

/* FIRST MAIN SECTION */

h2, h3 {
    text-align: center;
    margin: 0;
    color: #333333;
}
h2 {
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}
h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}
h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 38px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f38181;
}
.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-serveces {
    width: 382px;
    list-style-type: none;
    padding-left: 82px;
    position: relative;
}
.card-serveces::before {
    position: absolute;
    left: 20px;
}
.card-serveces:first-child::before {
    content: url(../image/ALARM.png);
}
.card-serveces:nth-child(2)::before {
    content: url(../image/LINE\ GRAPH.png);
}
.card-serveces:nth-child(3)::before {
    content: url(../image/COMPUTER\ _\ OK.png);
}
.card-serveces:nth-child(4)::before {
    content: url(../image/BOOK.png);
}
.card-serveces:nth-child(5)::before {
    content: url(../image/HOME.png);
}
.card-serveces:nth-child(6)::before {
    content: url(../image/IMAGE.png);
}
.card-serveces:not(:nth-of-type(n+3)) {
    margin-bottom: 95px;
}
.name-serveces {  
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-transform: uppercase;  
    margin: 0;
}
.description-service {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 24px;
    margin: 0;
    margin-top: 15px;
}
section:first-child {
    margin-bottom: 89px;
}

/* SECOND MAIN SECTION */

h3::after:last-child {
    margin-bottom: 41px;
}
.description-team {
    width: 941px;
    margin: 0 auto 0;
    text-align: center;
    margin-bottom: 90px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}
.team-member {
    width: 381px;
    list-style-type: none;
    position: relative;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 200ms;
}
.name-member {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 500px;
}
.position {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 11px;
}
.gradient-box {
    position: absolute;
    top: 0;
    width: 381px;
    height: 470px;
    z-index: 1;
    background-image: linear-gradient( rgb(243,129,129) 0%, rgb(252,227,138) 100%);
    transition-duration: 200ms;
    transition-timing-function: linear;
    opacity: 0;
}
.team-member:first-child {
    background-image: url(../image/Person-1.jpg);
    background-repeat: no-repeat;
}
.team-member:nth-child(2) {
    background-image: url(../image/Person-2.jpg);
    background-repeat: no-repeat;
}
.team-member:nth-child(3) {
    background-image: url(../image/Person-3.jpg);
    background-repeat: no-repeat;
}
.social-list {
    position: absolute;
    top: 0;
    width: 381px;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.social-network {
    position: relative;
    list-style-type: none;
}
.button {
    font-size: 0;
    width: 55px;
    height: 55px;
    border: none;
    background-color: rgb(252, 227, 138);
    opacity: 0;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.social-network {
    z-index: 2;
}
.button {
    margin-right: 1px;
}
.instagram {
    margin-right: 0;
}
.facebook::before {
    content: url(../image/facebook.png);
}
.twitter::before {
    content: url(../image/twitter.png);
}
.pinterest::before {
    content: url(../image/pinterest.png);
}
.instagram::before {
    content: url(../image/instagram.png);
}
.team-member:hover .gradient-box,
.team-member:focus .gradient-box {
    transition-property: background-image, box-shadow, opacity;
    opacity: 0.9;
    box-shadow: 10px 10px #95e1d3;
    transition-duration: 200ms;
    transition-timing-function: linear;
    background-image: linear-gradient( rgb(243,129,129) 0%, rgba(252,227,138) 100%);
}
.team-member:hover {
    transition-property: transform;
    transition-duration: 200ms;
    transform: translate(-10px, -10px);
}
.team-member:hover .button,
.team-member:focus .button {
    transition-property: background-color, opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
    background-color: rgb(252, 227, 138);
    opacity: 1;
}
.team-member .button:hover,
.team-member .button:focus {
    background-color: rgb(149, 225, 211);
    width: 60px;
    height: 60px;
}
section:last-child {
    margin-bottom: 80px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer-info {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
}
.footer-span {
    color: #f38181;
}
.form-subscribe {
    display: flex;
}
input {
    width: 230px;
    height: 40px;
    border-right: none;
}
.subscribe {
    background-color: rgb(149, 225, 211);
    width: 150px;
    height: 40px;
    border: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}