html {
    min-width: 1110px;
    /* margin-right: -17px; */
}
body {
    margin: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
.clearfix {
    display: table;
    clear: both;
}

/* HEADER */

h1 {
    margin: 0;
}
.inline-block {
    display: inline-block;
}
.link {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    color: #0f0101;
    text-transform: uppercase;
}
.link:hover {
    color: #1abc9c;
}
.list-item:nth-child(2) {
    margin-left: 27px;
}
.list-item:nth-child(3) {
    margin-left: 30px;
}
.list-item:nth-child(4) {
    margin-left: 24px;
}
.list-item:nth-child(5) {
    margin-left: 20px;
}
.list-item:last-child {
    margin-left: 28px;
}
.list {
    padding-left: 0;
    margin: 0;
    width: 465px;
    float: right;
}
nav {
    margin: 35px 0;
}

/* MAIN SECTION ONE */

.slider {
    background-image: url(../image/slide41.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 601px;
    position: relative;
    width: 100%;
}
.slider::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 600px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 2, 0.5);
}
.text-wrapper {
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
}
.wrapper-carousel {
    position: relative;
    top: 209px;
}
.title-carousel {
    min-width: max-content;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.5;
}
.par-carousel {
    font-size: 24px;
    font-weight: 300;
}
.par-carousel, .title-carousel {
    margin: 0;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.arrow {
    position: absolute;
    top: 26px;
    background-color: rgb(26, 188, 156);
    width: 104px;
    height: 104px;
    border: none;
    font-size: 100px;
    font-family: "Pe icon";
    cursor: pointer;
    font-size: 100px;
    color: rgb(255, 255, 255);
}
.arrow:hover {
    background-color: rgba(26, 188, 156, 0.7);
}
.arrow-left {
    left: 0;
}
.arrow:last-child {
    right: 0;
}
.arrow:last-child::before {
    content: "\e684";
}
.arrow-left::before {
    content: "\e686";
}

/* MAIN SECOND SECTION */

.second-main-section {
    padding-top: 92px;
    padding-bottom: 100px;
    background-color: #e9f0fd;
}
.new-colection {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #555252;
    margin: 0;
    line-height: 1.5;
    position: relative;
    margin-bottom: 102px;
}
.new-colection::after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translate(-50%, 0);
}

.colection-list {
    margin: 0 auto;
}
.colection-item {
    width: 255px;
    position: relative;
}
.colection-item:last-child {
    float: right;
}
.colection-item:not(:last-child) {
    float: left;
    margin-right: 30px;
}

.eclipse {
    position: absolute;
    height: 282px;
    width: 255px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.55);
    border: 10px solid rgba(255, 255, 255, 0.65);
    box-sizing: border-box;
    padding-top: 80px;
    opacity: 0;
}

.product-actions {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    float: left;
    cursor: pointer;
    color: #ffffff;
    padding: 0;
}

.product-actions:first-child, .product-actions:nth-child(2), .product-actions:nth-child(3) {
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-bottom: 9px;
}
.product-actions:nth-child(2), .product-actions:nth-child(3) {
    margin-left: 9px;
}
.product-actions:last-child {
    width: 100%;
    height: 50px;
    background-color: #323232;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}
.add-to-card {
    font-size: 14px;
    line-height: 2.1;
}
.product-actions::before {
    font-family: "Pe icon";
    font-size: 30px;
}
.product-actions:first-child::before {
    content: "\e642";
}
.product-actions:nth-child(2)::before {
    content: "\e614";
}
.product-actions:nth-child(3)::before {
    content: "\e66b";
}
.product-actions:last-child::before {
    content: "\e66e";
    float: left;
    padding-left: 13px;
}

.wrapper-actions {
    width: 168px;
    margin: 0 auto;
}

.wraper-product-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #323232;
}
.signature-product {
    padding-left: 13px;
    float: left;
}
.signature-product, .product-price {
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.product-price {
    padding-left: 12px;
    padding-right: 12px;
    float: right;
    background-color: #8c8c8c;
}
.colection-item:hover .wraper-product-name {
    background-color: #1abc9c;
}
.colection-item:hover .product-price {
    background-color:  #7fd9c7;
}

.colection-item:hover .eclipse {
    opacity: 1;
}
.product-actions:not(:last-child):hover {
    background-color: rgb(26, 188, 156);
    border: none;
}

/* FOOTER */

.footer-info {
    background-color: #323232;
    padding: 36px 0 32px 0;
}
.footer-par {
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(254, 254, 254);
    text-align: center;
}
.footer-link {
    color: #46bfa9;
    text-decoration: none;
}