.team-item,
.team-item__eclipse,
.team-item__image {
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.team-item {
    width: 382px;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.team-item__name {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 29px;
}
.team-item__social, .team-item__eclipse {
    width: 382px;
    height: 472px;
    position: absolute;
    top: 0;
}
.team-item__eclipse {
    z-index: 1;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgb(243,129,129)), to(rgb(252,227,138)));
    background-image: -o-linear-gradient( rgb(243,129,129) 0%, rgb(252,227,138) 100%);
    background-image: linear-gradient( rgb(243,129,129) 0%, rgb(252,227,138) 100%);
    -webkit-transition-property: background-image, opacity, -webkit-box-shadow, -webkit-transform;
    transition-property: background-image, opacity, -webkit-box-shadow, -webkit-transform;
    -o-transition-property: background-image, box-shadow, opacity, transform;
    transition-property: background-image, box-shadow, opacity, transform;
    transition-property: background-image, box-shadow, opacity, transform, -webkit-box-shadow, -webkit-transform;
    opacity: 0;
}
.team-item--hover:hover .team-item__eclipse {
    opacity: 0.9;
    -webkit-box-shadow: 10px 10px #95e1d3;
            box-shadow: 10px 10px #95e1d3;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgb(243,129,129)), to(rgba(252,227,138)));
    background-image: -o-linear-gradient( rgb(243,129,129) 0%, rgba(252,227,138) 100%);
    background-image: linear-gradient( rgb(243,129,129) 0%, rgba(252,227,138) 100%);
}
.team-item__image {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.team-item--hover:hover .team-item__image {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}
.team-item__social {
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 100ms;
         -o-transition-duration: 100ms;
            transition-duration: 100ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    z-index: 2;
}
.team-item--hover:hover .team-item__social {
    opacity: 1;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}