.team-item {
    width: 382px;
    position: relative;
    @include transition($duration: 0.2s);

    &__image {
      @include transition($duration: 0.2s);
    }
    &__name {
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: $secondary-color;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
      margin-top: 29px;
    }

    &__eclipse {
      z-index: 1;
      @include position(absolute, $top: 0);
      @extend %team-image-sizes;
      @extend %eclipse;
      @include transition($duration: 0.2s);
      opacity: 0;
    }

    &__social {
      @extend %team-image-sizes;
      @include position(absolute, $top: 0);
      opacity: 0;
      @include transition($duration: 0.1s) z-index: 2;
    }
    &--hover:hover {

      .team-item__image,
      .team-item__social {
        @extend %tr-translate;
      }

      .team-item__social {
        opacity: 1;
      }

      .team-item__eclipse {
        opacity: 0.9;
        box-shadow: 10px 10px $light-spring-green;
        @extend %tr-translate;
        background-image: linear-gradient($pink-color 0%, $orange-color 100%);
      }
    }
}

