.logo {
    margin: 0;
    font-size: 0;
}
.page-nav {
    @include flexbox(space-between);
    padding-top: 30px;
}
.site-navigation {
    @include flexbox(space-between, center);
    min-width: 620px;
    max-width: 800px;
}
.site-navigation__item:not(:last-child){
    margin-right: 58px;
}
.site-navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: $primary-color;
    @include transition();
}
.site-navigation__link--hover:hover{
    color: $orange-color;
    border-bottom: 4px solid $orange-color;
    padding-bottom: 11px;
}