.footer {
    @include flexbox(space-between, center);
    &__info {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        color: $secondary-color;
    }
    &__link {
        color: $pink-color;
        text-decoration: none;
        @extend %cursor-pointer;
    }
}
