.icon-button {
    border: none;
    @extend %cursor-pointer;
    @include flexbox(center, center);

    &__span {
        font-size: 0;
    }
}

.icon-button--bg-transparent {
    background-color: transparent;
}
.icon-button--hover-scale:hover {
    transform: scale(1.2);
}
.icon-button--wh55px {
    width: 55px;
    height: 55px;
}
.icon-button__svg, .icon-button {
    @include transition();
}
.icon-button__svg--color-white, .icon-button--bg-orange:hover .icon-button--hover-white {
    fill: $primary-color;
}
.icon-button--bg-orange {
    background-color: $orange-color;
}
.icon-button__svg--color-pink {
    fill: $pink-color;
}
.icon-button--hover-pink:hover {
    background-color: $pink-color;
}
.icon-button--hover-orange:hover .icon-button__svg--color-white {
    fill: $orange-color;
}