.icon-button {
    border: none;
    cursor: pointer;
    @extend %transition;
}
.icon-button__span {
    font-size: 0;
}
.icon-button--bg-transparent {
    background-color: transparent;
}
.icon-button--hover-scale:hover {
    transform: scale(1.2);
}
.icon-button--wh55px {
    width: 55px;
    height: 55px;
}
.icon-button__svg {
    @extend %transition;
}
.icon-button__svg--color-white, .icon-button--bg-orange:hover .icon-button--hover-white {
    fill: #fff;
}
.icon-button--bg-orange {
    background-color: #fce38a;
}
.icon-button__svg--color-pink {
    fill: #f38181;
}
.icon-button--hover-pink:hover {
    background-color: #f38181;
}
.icon-button--hover-orange:hover .icon-button__svg--color-white {
    fill: #fce38a;
}