body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
* {
    box-sizing: border-box;
}
img {
    box-shadow: 0 4px 22px rgba(0,0,0, 0.25), inset 0 3px 0 rgba(255,255,255, 0.5), 0 3px 0 rgba(0,0,0, 0.1), inset 0 0 22px rgba(0,0,0, 0.1);
border-radius: 25%;
width: 170px;
height: 111px;
display: block;
margin: 0 auto;
}
.img-wraper {
    flex-basis: 100%;
    margin-bottom: 100px;
}
ul {
    padding: 0;
    margin: 0;
    flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            text-align: center;
}
li {
    list-style-type: none;
    flex-basis: 33.3333%;
    min-height: 45px;
}
li:not(:nth-last-child(-n+1)) {
    margin-bottom: 50px;
}
li:last-child {
    margin: 0 auto;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-family: "Kaushan Script", sans-serif;
    color: rgb(255, 255, 255);
    -webkit-transition-property: border-bottom, color;
    -o-transition-property: border-bottom, color;
    transition-property: border-bottom, color;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
a:hover {
    color: #fce38a;
    border-bottom: 4px solid #fce38a;
    padding-bottom: 11px;
}

@media (max-width: 768px){
    li {
        flex-basis: 50%;
    }
    li:not(:nth-last-child(-n+2)) {
        margin-bottom: 50px;
    }
}
@media (max-width: 380px) {
    li {
        flex-basis: 100%;
    }
    li:not(:nth-last-child(-n+1)) {
        margin-bottom: 50px;
    }
}