body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.flex-fix {
    display:  flex;
}
.text-align-center {
    text-align: center;
}

/* MOBILE */

.header-cont {
    margin: 20px auto 138px;
    flex-basis: 100%;
}
header {
    min-width: 320px;
    background-image: url(../image/Vector\ Smart\ Object.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}
.autorization {
    text-align: center;
}
.login {
    margin-right: 19px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.signup {
    height: 36px;
    width: 90px;
    border: 2px solid rgb(255, 255, 255);;
    background-color: transparent;
    border-radius: 18px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.logo {
    width: 178px;
    height: 20px;
}
.title, .signature-title, .header-button {
    margin: 0 auto;
}
.title {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.signature-title {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 17px;
}
.find-partner {
    border: none;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    padding: 12px 50px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* MAIN MOBILE */

.layer-list {
    margin-bottom: 30px;
}
.layer-card {
    width: 220px;
    text-align: center;
    margin: 0 auto;
}
.layer {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}
.layer::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv::before {
    content: url(../image/TV.png);
    background-color: rgb(255, 78, 80);
}
.flask::before {
    content: url(../image/flask.png);
    background-color: rgb(255, 165, 7);
}
.coffee::before {
    content: url(../image/coffee.png);
    background-color: rgb(28, 215, 173);
}
.telegram::before {
    content: url(../image/telegram.png);
    background-color: rgb(78, 115, 219);
}
h3 {
    font-size: 22px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-top: 78px;
}
h4 {
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.description {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(102, 102, 102);
}
.other-partner {
    border: 2px solid rgb(255, 78, 80);
    border-radius: 20px;
    background-color: transparent;
    padding: 12px 75px;
    font-size: 14px;
    color: rgb(255, 78, 80);
    font-weight: bold;
    margin-bottom: 57px;
}

@media (max-width: 767px){
    .logo {
        margin: 0 auto;
    }
    .autorization {
        margin-bottom: 118px;
    }
    .title {
        margin-top: 33px;
        margin-bottom: 15px;
    }
}

/* TABLET VERSION */
  
@media (min-width: 768px) {
    .header-cont {
        margin: 38px auto 235px;
        flex-basis: 100%;
    }
    .autorization {
        text-align: right;
    }
    .header-list {
        margin-bottom: 145px;
    }

    .title {
        font-size: 52px;
        margin-bottom: 40px;
    }
    .signature-title {
        font-size: 24px;
        margin-bottom: 32px;
    }
    .find-partner {
        padding: 12px 25px;
    }
    h3 {
        margin-top: 73px;
    }
    .other-partner {
        margin-bottom: 40px;
        padding: 12px 30px;
    }
    .layer-list {
        margin-bottom: 38px;
    }
}

/* DESKTOP VERSION */

