body {
    margin: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER */

h1 {
    margin: 0;
}
.inline-block {
    display: inline-block;
}
.link {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    color: #0f0101;
    text-transform: uppercase;
}
.link1 {
    color: #1abc9c;
}
.link2 {
    margin-left: 27px;
}
.link3 {
    margin-left: 30px;
}
.link4 {
    margin-left: 24px;
}
.link5 {
    margin-left: 20px;
}
.link6 {
    margin-left: 28px;
}
.list {
    padding-left: 0;
    margin: 0;
    width: 465px;
    float: right;
    padding-top: 5px;
}
nav {
    margin-top: 37px;
    margin-bottom: 102px;
}

/* MAIN SECTION ONE */

h2 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #555252;
    margin: 0;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 92px;
}
h2::after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 32px; */
}

.product-list {
    margin-bottom: 105px;
    padding-left: 0
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.product-item {
    width: 255px;
    height: auto;
    background-color: #e9f0fd;
    list-style-type: none;
    position: relative;
}
.product-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product-item:nth-last-child(n+5) {
    margin-bottom: 30px;
}
.product-image {
    width: 255px;
    height: 282px;
}
.wraper-product-name {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.signature-product {
    padding-left: 13px;
    background-image: linear-gradient(to right, #323232 79%, #8c8c8c 21%);
}
.signature-product, .product-price {
    line-height: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.product-item:hover .signature-product {
    background-image: linear-gradient(to right, #1abc9c 79%, #7fd9c7 21%);
}
.product-price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 12px;
}

/* SECTION TWO  */

.title-section2 {
    margin-bottom: 81px;
}
.article-container {
    margin-bottom: 45px;
}
.article {
    width: 350px;
}
.article2, .article3 {
    margin-left: 30px;
}
h3, button, .text-article {
    font-family: "Open Sans", sans-serif;
}
h3 {
    font-weight: 600;
    line-height: 26px;
    font-size: 18px;
}
.text-article {
    font-size: 14px;
    line-height: 26px;
}
button {
    font-weight: 300;
    font-size: 16px;
    width: 160px;
    line-height: 51px;
    background: #4ec6ab;
    color: #ffffff;
    border-radius: 3px;
    border: none;
}