body {
    margin: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER */

.header-logo {
    margin: 0;
}
.inline-block {
    display: inline-block;
}
.link {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    color: #0f0101;
    text-transform: uppercase;
}
.link:hover {
    color: #1abc9c;
}
.list-item:nth-child(2) {
    margin-left: 27px;
}
.list-item:nth-child(3) {
    margin-left: 30px;
}
.list-item:nth-child(4) {
    margin-left: 24px;
}
.list-item:nth-child(5) {
    margin-left: 20px;
}
.list-item:last-child {
    margin-left: 28px;
}
.list {
    padding-left: 0;
    margin: 0;
    width: 465px;
    float: right;
    padding-top: 5px;
}
.nav-header {
    margin-top: 37px;
    margin-bottom: 102px;
}

/* MAIN SECTION ONE */

.title-section {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #555252;
    margin: 0;
    position: relative;
    margin-bottom: 162px;
}
.title-section::after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 32px; */
}

.product-list {
    margin-bottom: 105px;
    padding-left: 0
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.product-item {
    width: 255px;
    height: auto;
    background-color: #e9f0fd;
    list-style-type: none;
    position: relative;
}
.product-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product-item:nth-last-child(n+5) {
    margin-bottom: 30px;
}
.product-image {
    width: 255px;
    height: 282px;
}
.wraper-product-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #323232;
}
.signature-product {
    padding-left: 13px;
    float: left;
}
.signature-product, .product-price {
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.product-price {
    padding-left: 12px;
    padding-right: 12px;
    float: right;
    background-color: #8c8c8c;
}
.product-item:hover .wraper-product-name {
    background-color: #1abc9c;
}
.product-item:hover .product-price {
    background-color:  #7fd9c7;
}

/* SECTION TWO  */

.title-section2 {
    margin-bottom: 81px;
}
.article-container {
    margin-bottom: 45px;
}
.article {
    width: 350px;
}
.article2, .article3 {
    margin-left: 30px;
}
.title-article, button, .text-article {
    font-family: "Open Sans", sans-serif;
}
.title-article {
    font-weight: 600;
    line-height: 1.4;
    font-size: 18px;
}
.text-article {
    font-size: 14px;
    line-height: 1.9;
}
.button {
    font-weight: 300;
    font-size: 16px;
    width: 160px;
    line-height: 3.2;
    background: #4ec6ab;
    color: #ffffff;
    border-radius: 3px;
    border: none;
}